.img{
    width:400px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-width:16px ;
    border-style: groove;
    border-color: #1e7527ff;
}

body{background-color: #3256a8ff;
    border: #9a9797ff;
}
  
.button {display: flex; justify-content: center;} 

.text {display: flex; justify-content: center; font-family: Courier, monospace;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}