img{
     display: flex;
    width:400px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-width: 30px;
    border-color: #1e7527ff; 
    border-style: double;
    justify-content: center;
   
}

body{background-color: #3256a8ff;
    
}

.button {display: flex;
    justify-content: center;
    
     border-width: 10px;

}
 

.text {
    display: flex; 
    justify-content: center;
    
    font-family: Courier, monospace;
}
    